:root {
    --main-blue: #77BDD9;
    --main-gray: #444444;
    --accent-green: rgba(163,190,0,0.62);
    --white: #F8F9FA;
}

@font-face {
    font-family: 'Neon 80s';
    src: url('../fonts/neon_80s/Neon.eot');
    src: url('../fonts/neon_80s/Neon.woff') format('woff'), url('../fonts/neon_80s/Neon.ttf') format('truetype'), url('../fonts/neon_80s/Neon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.container-fluid {
    padding: 0px;
}

.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
    margin-left: -125px;
}

.navbar-right {
    margin-right: 0;
}

.logo-wo-words {
    width: 75px;
    height: auto;
}

.logo-name {
    width: 75px;
    margin-top: .13em
}

.nav-item {
    color: var(--main-gray);
    font-family: 'Neon 80s';
    font-size: 16px;
    margin: 0 0.75em;
    width: 75%;
}

.parallax-bg {
    background-image: url("../img/parallax-bg.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#navbar-hamburger {
    border: none;
}

#navbar-hamburger i {
    color: var(--main-gray);
}

#last-name {
    margin-top: .14em;
}


/*========== MEDIA QUERIES ===========*/

@media screen and (max-width: 768px){

    .navbar-brand-centered {
        margin-left: -80px;
    }
    
    .logo-wo-words {
        width: 60px;
    }

    .logo-name {
        display: none;
    }
    
}