:root {
    --main-blue: #77BDD9;
    --main-gray: #292929;
    --accent-green: rgba(163,190,0,0.72);
    --white: #F8F9FA;
    --light-gray: #3f3f3f;
    --light-gray-opacity: rgba(41,41,41,0.85);
}

body {
    margin: 0;
}


/* ```` _________ .____       _____    _________ ____________________ _________ ```` */
/* ```` \_   ___ \|    |     /  _  \  /   _____//   _____/\_   _____//   _____/ ```` */
/* ```` /    \  \/|    |    /  /_\  \ \_____  \ \_____  \  |    __)_ \_____  \  ```` */
/* ```` \     \___|    |___/    |    \/        \/        \ |        \/        \ ```` */
/* ````  \______  /_______ \____|__  /_______  /_______  //_______  /_______  / ```` */

.hg__header {
    grid-area: header;
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 85px;
    background: var(--main-gray);
    position: sticky;
    position: -webkit-sticky;
    position: -ms-device-fixed;
    transform-origin: bottom right;
    z-index: 999;
    top: 0;
}
.hg__main {
    display: grid;
    grid-area: main;
    grid-template-columns: 100%;
}

.hg {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "header"
                         "main";
    grid-template-columns: 100%;
    grid-template-rows: 85px 1fr;
    margin: 0;
    font-family: 'Open Sans', Helvetica, sans-serif;
}

.hg:focus {
    outline: none;
}

/*.container {*/
    /*overflow-y: scroll;*/
    /*-webkit-overflow-scrolling: touch;*/
/*}*/

/*.parallax-container {*/
    /*transform-style: preserve-3d;*/
    /*perspective: 1px;*/
/*}*/

/*.parallax {*/
    /*background-image: url("./img/Geometricbackground-2.png");*/
    /*background-size: cover;*/
    /*position: -webkit-sticky;*/
    /*top: 0;*/
    /*transform: translate(-2px) scale(3);*/
/*}*/

/* ======= Animations ======= */

/*Section Navigation*/
.smooth-transition {
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}

/*Big Down Arrow*/
@keyframes bounceY {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(-175px);
    }
    40% {
        transform: translateY(-215px);
    }
    60% {
        transform: translateY(-195px);
    }
}

/*For section arrows pointing to the left:*/
@keyframes bounceXleft {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(8px);
    }
    60% {
        transform: translateX(3px);
    }
}
/*For section arrows pointing to the right*/
@keyframes bounceXright {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(-8px);
    }
    60% {
        transform: translateX(-3px);
    }
}
.section-title .fa-angle-double-left {
    animation: bounceXleft 3s infinite;
}
.section-title .fa-angle-double-right {
    animation: bounceXright 3s infinite;
}

/*HEADER*/

.header-box {
    margin: .75em;
    justify-self: center;
    align-self: center;
}

.links-list {
    justify-self: right;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.links {
    color: var(--white);
    margin: 0 1em;
}

.link-desc {
    display: none;
}

/*MAIN*/

.main-box {
    justify-self: center;
    align-self: center;
    background: transparent;
    color: var(--main-gray);
    display: grid;
    grid-template-rows: 45vh 4vh 45vh;
    background: linear-gradient(
                    rgba(255, 255, 255, 0.7),
                    rgba(255, 255, 255, 0.7)),
                    url("./img/Geometricbackground-2.png");
    background-size: cover;
    width: 100%;
}

.main-box #name-header,
.main-box .job-title {
    align-self: end;
}

.job-title .fa-angle-double-right {
    color: var(--main-blue);
}

.down-arrow-div {
    display: none;
    justify-self: center;
    align-self: end;
}

.down-arrow-icon {
    animation: bounceY 2s infinite;
    color: var(--main-gray);
}

.section-title {
    font-weight: 300;
    letter-spacing: 4px;
    font-size: 36px;
}

.section-title i {
    color: var(--accent-green);
    padding-top: 2em;
    font-size: 56px;
}

.subsection {
    justify-self: center;
    align-self: end;
}


/*ABOUT*/

.about-box {
    background: linear-gradient(
                var(--light-gray-opacity),
                var(--light-gray-opacity)),
                url("./img/blank-close-up-crumpled-479453.jpg");
    background-size: cover;
    color: var(--white);
    display: grid;
    grid-template-rows: 25vh 30vh 80vh;
    z-index: -1;
}

.headshot-brackets {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.brackets-around-head {
    color: var(--white);
    font-size: 96px;
    font-family: 'Oxygen', Helvetica, sans-serif;
    font-weight: 300;
    padding-top: .1em;
}

.bracket-left {
    justify-self: right;
    margin-right: .25em;
}

.bracket-right {
    justify-self: left;
    margin-left: .25em;
}

.body-text {
    align-self: start;
}

.sub-header {
    font-size: 28px;
    font-weight: 300;
    margin: .5em 1em;
    letter-spacing: 4px;
}

.info-para {
    margin: 0 2em;
    font-size: 18px;
}


/*PROJECT*/

.project-box {
    /*noinspection CssInvalidFunction*/
    background: linear-gradient(
                rgb(255, 255, 255, 0.85),
                rgb(255, 255, 255, 0.85)),
                url("./img/abstract-background-canvas-249798.jpg");
    background-size: cover;
    color: var(--main-gray);
    display: grid;
    grid-template-rows: 25vh 35vh 25vh 35vh 15vh;
    /*z-index: 1;*/
}

.img-wrap {
    position: relative;
    display: grid;
    grid-template-columns: 216px;
    grid-template-rows: 162px;
    justify-self: center;
    align-self: center;
    z-index: 399;
}

.img-img {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    border: solid #000 1px;
    z-index: 499;
}

.img-description {
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    z-index: 991;
    justify-items: center;
    align-items: center;
    color: var(--main-gray);
    font-size: 18px;
    text-decoration: none;
    font-family: "Roboto Mono", Helvetica, sans-serif;
    transition: opacity .2s, visibility .2s;
    border-radius: 30px;
    border: solid var(--main-gray) 1px;
}

.desc-span {
    z-index: 992;
    background: rgba(255, 255, 255, 0.75);
    width: 100%;
    line-height: 48px;
    text-align: center;
}

/*CONTACT*/

.contact-box {
    background: linear-gradient(
            rgba(41,41,41,0.95),
            rgba(33,71,89,0.95)),
    url("./img/code-2858768_1280.png");
    background-size: cover;
    color: var(--white);
    display: grid;
    grid-template-rows: 25vh 48vh 27vh;
}

.contact-form {
    align-self: center;
    display: grid;
    grid-template-columns: 85%;
    grid-template-rows: 11vh 22vh 0;
    justify-content: center;
    grid-gap: 1em;
}

.contact-sub-box {
    justify-self: center;
    font-size: 20px;
}

.subsection.social-icons-div {
    display: grid;
    align-content: end;
}

.social-icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 2em auto;
    grid-gap: 33px;
}

.social-icons-img {
    width: 58px;
    height: auto;
}

/* ``````````````````````` .___  ________    /\   _________ ``````````````````````` */
/* ``````````````````````` |   | \______ \   )/  /   _____/ ``````````````````````` */
/* ``````````````````````` |   |  |    |  \      \_____  \  ``````````````````````` */
/* ``````````````````````` |   |  |    `   \     /        \ ``````````````````````` */
/* ``````````````````````` |___| /_______  /    /_______  / ``````````````````````` */
/* ```````````````````````               \/             \/  ``````````````````````` */

/*HEADER*/

#logo-wo-words {
    width: 60px;
    height: 46px;
}

/*MAIN*/

/*Top Section*/

#top-section {
    height: 85px;
    position: absolute;
    top: 0;
    z-index: -2;
}

#name-header {
    font-weight: 300;
    letter-spacing: 9px;
    font-size: 40px;
    justify-self: center;
    display: none;
}

#job-title {
    font-size: 12px;
    letter-spacing: 5px;
    justify-self: center;
    display: none;
}

/*About Section*/

#headshot {
    width: auto;
    height: 150px;
    border: 2px solid var(--white);
    border-radius: 95%;
}

/*Projects Section*/

#coffee-img {
    background-image: url("./img/beans-brown-coffee-34085.jpg");
}

#contacts-img {
    background-image: url("./img/address-book-black-and-white-business-205414.jpg");
}

#movie-list-img {
    background-image: url("./img/close-up-filmstrip-negatives-133070.jpg");
}

/*Contact Section*/

#goog-icon {
    width: 150px;
    height: auto;
}

/* ````````   \   |          |_)         _ \                 _) `````````````````` */
/* ````````  | \/ |  _ \  _` | |  _` |  |   | |   |  _ \  __| |  _ \  __| ```````` */
/* ````````  |    |  __/ (   | | (   |  |   | |   |  __/ |    |  __/\__ \ ```````` */
/* ```````` _|   _|\___|\__,_|_|\__,_| \__\_\\__,_|\___|_|   _|\___|____/ ```````` */

/*Tablets*/
@media screen and (min-width: 425px) {

    .hg__header {
        grid-template-rows: 125px;
    }

    .hg {
        grid-template-rows: 125px 1fr;
    }

    .section-title {
        font-size: 42px;
        font-weight: 300;
    }

    /*======== NAV ========*/

    .header-box {
        margin: 1.5em;
    }

    .links .fa-lg {
        font-size: 32px;
    }

    /*======== TOP ========*/

    .main-box {
        background: linear-gradient(
                rgb(255, 255, 255, 0.9),
                rgb(255, 255, 255, 0.9)),
        url("./img/code-2858768_1280.png");
        -webkit-background-size: contain;
        background-size: contain;
    }

    .fa-3x {
        font-size: 72px;
    }

    /*======== ABOUT ========*/

    .about-box {
        grid-template-rows: 25vh 38vh 85vh;
    }

    .body-text {
        display: grid;
        grid-template-columns: 600px;
    }

    .sub-header {
        font-size: 36px;
        margin: .5em 0;
    }

    .info-para {
        font-size: 24px;
        letter-spacing: 2px;
    }

    .brackets-around-head {
        font-size: 186px;
    }

    .section-title {
        font-size: 52px;
    }

    /*======== CONTACT ========*/
    .contact-box {
        background: linear-gradient(
                rgba(41, 41, 41, 0.85),
                rgba(33, 71, 89, 0.85)),
        url("./img/Geometricbackground-2.png");
    }

    /*======-----=====-----\ ====/===/---\=======*/
    /*========|=======|    |=========\___,=======*/
    /*======-----=====|____/=========,___/=======*/

    #logo-wo-words {
        width: 90px;
        height: 69px;
        margin-left: 2em;
    }

    #name-header {
        font-size: 56px;
    }

    #job-title {
        font-size: 18px;
    }

    #job-title span i {
        font-size: 32px;
    }

    #headshot {
        height: 275px;
    }

}

/*Small Laptops*/
@media screen and (min-width: 769px) {

    .hg {
        grid-template-areas: "header main";
        grid-template-columns: 100px auto;
        grid-template-rows: repeat(2, 100%);
    }

    .img-description {
        transition: opacity .2s, visibility .2s;
        visibility: hidden;
        opacity: 0;
    }

}
