:root {
    --main-blue: #77BDD9;
    --main-gray: #292929;
    --accent-green: rgba(163,190,0,0.62);
    --white: #F8F9FA;
    --light-gray: #959595
}

img.logo-wo-words.mx-0 {
    width: 60px;
    height: auto;
}

.container-fluid {
    padding: 0;
    overflow: hidden;
    background: var(--white);
}

.smooth-transition {
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}

/*=-=-=-=-=-=-=-=-=- NAVBAR CLASSES =-=-=-=-=-=-=-=-=-=-=*/

.navbar {
    background: var(--main-gray);
}

.nav-link.link-style.active-link {
    color: var(--main-blue);
}

a.nav-link {
    -o-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.25s;
    padding: 0 1rem;
}

a.nav-link.link-style {
    text-align: center;
}

a.nav-link.link-style div {
    /*NavBar Links Styling*/
    color: var(--white);
    font-weight: 300;
    font-family: 'Oxygen', sans-serif;
    font-size: 22px;
    letter-spacing: 2.25px;
}

a.nav-link.link-style li

a.nav-link.link-style i {
    text-align: center;
    width: 100%;
    float: left;
}

a.nav-link.link-style i {
    color: var(--white);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--light-gray);
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/


/*=-=-=-=-=-=-=- MAIN CONTENT =-=-=-=-=-=-=-=*/

.col.py-3.px-0.main-wrapper {
    perspective: 2px;
}

.name-header,
.job-title {
    color: var(--main-gray);
    font-family: 'Open Sans', sans-serif;
}

.name-header {
    font-weight: 300;
    letter-spacing: 1.75px;
    font-size: 40px;
    margin: 5em 0 .3em;
}

.job-title {
    font-size: 12px;
    letter-spacing: 2.25px;
    margin-left: 17px;
}

.job-title .fas {
    color: var(--main-blue);
}

.down-arrow-div {
    text-align: center;
    margin-top: 13em;
}

@keyframes bounceY {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.down-arrow-icon {
    color: var(--main-gray);
    animation: bounceY 2s infinite;
}


/*===== ABOUT ME*/
.section-title .about-title {
    color: var(--white);
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 300;
    font-size: 36px;
}

@keyframes bounceX {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(8px);
    }
    60% {
        transform: translateX(3px);
    }
}

.section-title i {
    color: var(--main-blue);
}

.section-title i.active {
    animation: bounceX 3s infinite;
}


/*=-=-=-=-=-=-=-= NAVBAR IDs -=-=-=-=-=-=-=-=*/

#dl-resume {
    display: none;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

main#main-content.col.py-3.px-0 {
    margin-top: 5.5em;
}

section#about-section.mt-5 {
    padding-top: 1.5em;
}

/*TOP SECTION*/
#top-section {
    opacity: 0;
    -webkit-transition: opacity 2.5s ease-in;
    -moz-transition: opacity 2.5s ease-in;
    -o-transition: opacity 2.5s ease-in;
    transition: opacity 2.5s ease-in;
}

#top-section.load {
    opacity: 1;
}

/*=-=-=-=-=-=-=-=-ABOUT SECTION=-=-=-=-=-=-=-*/

#scroll-about {
    background: var(--white);
    height: 32px;
}

#about-section {
    height: 100vh;
    background: var(--main-gray);
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/


/*========== MEDIA QUERIES ===========*/


/*Small devices/Landscape phones*/
@media screen and (min-width: 576px) {

    img.logo-wo-words.mx-0 {
        width: 120px;
    }

}

/*Tablets, etc*/
@media screen and (min-width: 768px) {

    ul.flex-sm-column.flex-row.navbar-nav.justify-content-between.navlinks {
        margin-top: 2em;
    }

    img.logo-wo-words.mx-0 {
        width: 120px;
    }

    .logo-name {
        display: inline-block;
    }

}


/*Desktop computers, larger devices*/
@media screen and (min-width: 992px) {

}


/*Large Desktops, extra large devices*/
@media screen and (min-width: 1200px) {

}